.saveHomeButton {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1;
}

.heartButton {
  width: 40px;
  height: 40px;
  display: inline-flex;
  line-height: 1;
  color: inherit;
  align-items: center;
  justify-content: center;
  overflow: visible;
  flex: 0 0 auto;
  cursor: pointer;
}