.listings{
  align-content: center;
  font-size: 20px;
  margin: 0px 0px 8px;
}

.carousel {
  margin: 32px 0px;
}

.carouselInner{
  height: 350px;
  display: flex;
  justify-items: center;
  overflow: hidden;
  flex-direction: row;
  white-space: nowrap;
  position: relative;
  /* transition: ease-in 0.5s;
  translate:  */
}

.container {
  flex-direction: row;
  align-items: center;
  display: flex;
  padding: 0 4px 0 0;
  overflow-x: auto;
}

.sliderContainer {
  position: relative;
}

