/* Listing information */
.itemContainer {
  border: solid transparent;
  border-width: 16px 8px 0px;
}

.item {
  width: 224px;
  min-width: 224px;
  height: auto;
  box-sizing: border-box;
  /* border: 16px 8px 0px; */
  display: block;
  /* cursor: pointer; */
  pointer-events: auto;
}

/* Arrow SVGS */
.increase path{
  fill: red;
}

.decrease path {
  fill: green;
}
