/* More homes */
.item {
  height: auto;
  box-sizing: border-box;
  /* margin: 12px 3px; */
  display: block;
  /* cursor: pointer; */
  pointer-events: auto;
  border: solid transparent;
  border-width: 16px 8px 0px;
}

.additionalContainer {
  padding: 8px;
  width: 224px;
  min-width: 224px;
}
.additionalBox {
  height: 30px;
  width: 30px;
}

.additional{
  color: rgb(59, 65, 68);
}

.seeMore {
  padding: 8px 0px 0px;
  line-height: 26px;
}

.cityText {
  font-weight: bold;
  font-size: 20px;
  color: rgb(59, 65, 68);
}

.button {
  padding: 8px 0px 0px;
}
.buttonText {
  color: teal;
  border-radius: 6px;
  background-color: white;
  border: 1px solid transparent;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  display: inline-block;
  line-height: 1.5;
  font-weight: bold;
  height: 40px;
  width: auto;
  padding: 8px 16px;
}

.additionalContainer:hover .buttonText{
  color: white;
  background-color: teal;
  transition: 0.3s all ease-in-out;
}
.propertyMedia {
  position: relative;
  display: block;
  border-radius: 10px;
  height: 160px;
  min-height: 160px;
  display: inline-block;
  position: relative;
  max-width: initial;
  overflow: hidden;
  background-color: lightgray;
}

.propertyImage {
  z-index: 0;
  transition: 0.5s all ease-in-out;
}
